
azure-ActiveDirectoryFederationServicesProxy:before {
  content: "\e903";
}
azure-AD-FS:before {
  content: "\e904";
}
azure-Android-Phone:before {
  content: "\e905";
}
azure-Application--Generic:before {
  content: "\e906";
}
azure-Application-(blank-for-text):before {
  content: "\e907";
}
azure-Application-server:before {
  content: "\e908";
}
azure-Azure-Pack:before {
  content: "\e909";
}
azure-Backup:before {
  content: "\e90a";
}
azure-local:before {
  content: "\e90a";
}
azure-Backup2:before {
  content: "\e90b";
}
azure-online:before {
  content: "\e90b";
}
azure-Calendar:before {
  content: "\e90c";
}
azure-Certificate:before {
  content: "\e90d";
}
azure-Client-application:before {
  content: "\e90e";
}
azure-Cloud:before {
  content: "\e90f";
}
azure-Cluster-server:before {
  content: "\e910";
}
azure-code-file:before {
  content: "\e911";
}
azure-Connectors:before {
  content: "\e912";
}
azure-Database-generic:before {
  content: "\e913";
}
azure-Database-server:before {
  content: "\e914";
}
azure-Database-synchronization:before {
  content: "\e915";
}
azure-Device:before {
  content: "\e916";
}
azure-Direct-access:before {
  content: "\e917";
}
azure-Document-DB-file:before {
  content: "\e918";
}
azure-Document:before {
  content: "\e919";
}
azure-Domain-controller:before {
  content: "\e91a";
}
azure-Enterprise-Building:before {
  content: "\e91b";
}
azure-Enterprise:before {
  content: "\e91c";
}
azure-File:before {
  content: "\e91d";
}
azure-general:before {
  content: "\e91d";
}
azure-Filter:before {
  content: "\e91e";
}
azure-Firewall:before {
  content: "\e91f";
}
azure-Folder:before {
  content: "\e920";
}
azure-Gateway:before {
  content: "\e900";
}
azure-Generic-app:before {
  content: "\e901";
}
azure-named-text:before {
  content: "\e901";
}
azure-Generic-app2:before {
  content: "\e902";
}
azure-Generic-code:before {
  content: "\e921";
}
azure-Graph:before {
  content: "\e922";
}
azure-Health-monitoring:before {
  content: "\e923";
}
azure-Healthy_grey:before {
  content: "\e924";
}
azure-Healthy:before {
  content: "\e925";
}
azure-Import-generic:before {
  content: "\e926";
}
azure-Internet-(hollow):before {
  content: "\e927";
}
azure-Internet:before {
  content: "\e928";
}
azure-iPhone:before {
  content: "\e929";
}
azure-Key:before {
  content: "\e92a";
}
azure-permissions:before {
  content: "\e92a";
}
azure-Keyboard:before {
  content: "\e92b";
}
azure-Laptop-computer:before {
  content: "\e92c";
}
azure-Laptop:before {
  content: "\e92d";
}
azure-Load-balancer-(Generic):before {
  content: "\e92e";
}
azure-Load-Testing:before {
  content: "\e92f";
}
azure-Lock:before {
  content: "\e930";
}
azure-protected:before {
  content: "\e930";
}
azure-Lock2:before {
  content: "\e931";
}
azure-unprotected:before {
  content: "\e931";
}
azure-Maintenance:before {
  content: "\e932";
}
azure-Management-console:before {
  content: "\e933";
}
azure-Message:before {
  content: "\e934";
}
azure-Monitor-running-apps:before {
  content: "\e935";
}
azure-Monitor:before {
  content: "\e936";
}
azure-Mouse:before {
  content: "\e937";
}
azure-Network-card:before {
  content: "\e938";
}
azure-Not-allowed:before {
  content: "\e939";
}
azure-Performance-monitor:before {
  content: "\e93a";
}
azure-Performance:before {
  content: "\e93b";
}
azure-Phone:before {
  content: "\e93c";
}
azure-Plug-and-play:before {
  content: "\e93d";
}
azure-PowerPoint:before {
  content: "\e93e";
}
azure-Powershell-script-file:before {
  content: "\e93f";
}
azure-Protocol-stack:before {
  content: "\e940";
}
azure-Queue:before {
  content: "\e941";
}
azure-general2:before {
  content: "\e941";
}
azure-RMS-connector:before {
  content: "\e942";
}
azure-Router:before {
  content: "\e943";
}
azure-rpd-Remoting-file:before {
  content: "\e944";
}
azure-Script-file:before {
  content: "\e945";
}
azure-Secure-virtual-machine:before {
  content: "\e946";
}
azure-Server-(blade):before {
  content: "\e947";
}
azure-Server-(generic):before {
  content: "\e948";
}
azure-Server-directory:before {
  content: "\e949";
}
azure-Server-farm:before {
  content: "\e94a";
}
azure-Server-rack:before {
  content: "\e94b";
}
azure-Settings:before {
  content: "\e94c";
}
azure-Shared-folder:before {
  content: "\e94d";
}
azure-Smartcard:before {
  content: "\e94e";
}
azure-Startup-task:before {
  content: "\e94f";
}
azure-Storage:before {
  content: "\e950";
}
azure-stored-procedures .path1:before {
  content: "\e951";
  color: rgb(104, 104, 104);
}
azure-stored-procedures .path2:before {
  content: "\e952";
  margin-left: -1em;
  color: rgb(104, 104, 104);
}
azure-stored-procedures .path3:before {
  content: "\e953";
  margin-left: -1em;
  color: rgb(104, 104, 104);
}
azure-stored-procedures .path4:before {
  content: "\e954";
  margin-left: -1em;
  color: rgb(104, 104, 104);
}
azure-stored-procedures .path5:before {
  content: "\e955";
  margin-left: -1em;
  color: rgb(200, 200, 200);
}
azure-stored-procedures .path6:before {
  content: "\e956";
  margin-left: -1em;
  color: rgb(200, 200, 200);
}
azure-Table:before {
  content: "\e957";
}
azure-Tablet:before {
  content: "\e958";
}
azure-Tool:before {
  content: "\e959";
}
azure-triggers .path1:before {
  content: "\e95a";
  color: rgb(104, 104, 104);
}
azure-triggers .path2:before {
  content: "\e95b";
  margin-left: -1em;
  color: rgb(104, 104, 104);
}
azure-triggers .path3:before {
  content: "\e95c";
  margin-left: -1em;
  color: rgb(104, 104, 104);
}
azure-triggers .path4:before {
  content: "\e95d";
  margin-left: -1em;
  color: rgb(104, 104, 104);
}
azure-triggers .path5:before {
  content: "\e95e";
  margin-left: -1em;
  color: rgb(200, 200, 200);
}
azure-Tunnel:before {
  content: "\e95f";
}
azure-Unhealthy:before {
  content: "\e960";
}
azure-USB:before {
  content: "\e961";
}
azure-User--Enterprise:before {
  content: "\e962";
}
azure-User-permissions .path1:before {
  content: "\e963";
  color: rgb(200, 200, 200);
}
azure-User-permissions .path2:before {
  content: "\e964";
  margin-left: -1em;
  color: rgb(200, 200, 200);
}
azure-User-permissions .path3:before {
  content: "\e965";
  margin-left: -1em;
  color: rgb(104, 104, 104);
}
azure-User-permissions .path4:before {
  content: "\e966";
  margin-left: -1em;
  color: rgb(104, 104, 104);
}
azure-User-permissions .path5:before {
  content: "\e967";
  margin-left: -1em;
  color: rgb(104, 104, 104);
}
azure-Video:before {
  content: "\e968";
}
azure-Virtual-machine:before {
  content: "\e969";
}
azure-Web-server:before {
  content: "\e96a";
}
azure-Web-site-Generic .path1:before {
  content: "\e96b";
  color: rgb(200, 200, 200);
}
azure-Web-site-Generic .path2:before {
  content: "\e96c";
  margin-left: -0.6494140625em;
  color: rgb(104, 104, 104);
}
azure-Web-site-Generic .path3:before {
  content: "\e96d";
  margin-left: -0.6494140625em;
  color: rgb(200, 200, 200);
}
azure-Web-site-Generic .path4:before {
  content: "\e96e";
  margin-left: -0.6494140625em;
  color: rgb(104, 104, 104);
}
azure-Web-site-Generic .path5:before {
  content: "\e96f";
  margin-left: -0.6494140625em;
  color: rgb(104, 104, 104);
}
azure-Web-site-Generic .path6:before {
  content: "\e970";
  margin-left: -0.6494140625em;
  color: rgb(104, 104, 104);
}
azure-Web-site-Generic .path7:before {
  content: "\e971";
  margin-left: -0.6494140625em;
  color: rgb(104, 104, 104);
}
azure-Web-site-Generic .path8:before {
  content: "\e972";
  margin-left: -0.6494140625em;
  color: rgb(104, 104, 104);
}
azure-Web-site-Generic .path9:before {
  content: "\e973";
  margin-left: -0.6494140625em;
  color: rgb(104, 104, 104);
}
azure-Web-site-Generic .path10:before {
  content: "\e974";
  margin-left: -0.6494140625em;
  color: rgb(104, 104, 104);
}
azure-Web-site-Generic .path11:before {
  content: "\e975";
  margin-left: -0.6494140625em;
  color: rgb(104, 104, 104);
}
azure-Web-site-Generic .path12:before {
  content: "\e976";
  margin-left: -0.6494140625em;
  color: rgb(200, 200, 200);
}
azure-Web-site-Generic .path13:before {
  content: "\e977";
  margin-left: -0.6494140625em;
  color: rgb(104, 104, 104);
}
azure-Web:before {
  content: "\e978";
}
azure-Windows-server:before {
  content: "\e979";
}
azure-Wireless-connection:before {
  content: "\e97a";
}
azure-Workstation-client:before {
  content: "\e97b";
}
azure-XML-web-service:before {
  content: "\e97c";
}
