<!DOCTYPE html>
<html ng-app="dld4e">
<head>
    <!-- META -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="index,follow">
    <meta name="description" content="decent looking diagrams for engineers">

    <link rel="icon"
      type="image/png"
      href="./build/images/radial.png" />

    <title>Decenet looking diagrams for engineers</title>

    <link rel="stylesheet" href="build/css/bootstrap.min.css">
    <link rel="stylesheet" href="build/css/font-awesome.min.css">
    <link rel="stylesheet" href="build/css/app.css">
    <link rel="stylesheet" href="build/css/notes.css">
    <link rel="stylesheet" type="text/css" href="./build/fonts/azure-enterprise.css">
    <link rel="stylesheet" type="text/css" href="./build/fonts/azure-cloud.css">
    <link rel="stylesheet" type="text/css" href="./build/fonts/cisco.css">

    <script type="text/javascript" src="build/js/angular.min.js"></script>
    <script type="text/javascript" src="build/js/angular-animate.min.js"></script>
    <script type="text/javascript" src="build/js/ace.js"></script>
    <script type="text/javascript" src="build/js/ui-ace.min.js"></script>
    <script type="text/javascript" src="build/js/ui-bootstrap.min.js"></script>
    <script type="text/javascript" src="build/js/ui-bootstrap-tpls.min.js"></script>
    <script type="text/javascript" src="build/js/js-yaml.min.js"></script>
    <script type="text/javascript" src="./build/js/d3.min.js"></script>
    <script type="text/javascript" src="./build/js/showdown.js"></script>
    <script type="text/javascript" src="./build/js/showdown-prettify.min.js"></script>
    <script type="text/javascript" src="./build/js/run_prettify.js"></script>




    <script type="text/javascript" src="build/js/dld4e-connections.js"></script>
    <script type="text/javascript" src="build/js/dld4e-draw.js"></script>
    <script type="text/javascript" src="build/js/dld4e-gridlines.js"></script>
    <script type="text/javascript" src="build/js/dld4e-groups.js"></script>
    <script type="text/javascript" src="build/js/dld4e-objects.js"></script>
    <script type="text/javascript" src="build/js/dld4e-title.js"></script>
    <script type="text/javascript" src="build/js/dld4e-notes.js"></script>

    <script type="text/javascript" src="build/js/app.js"></script>

    <script>
    var fonts = {}
    </script>
    <script src="./build/js/azure-enterprise.js"></script>
    <script src="./build/js/azure-cloud.js"></script>
    <script src="./build/js/cisco.js"></script>

</head>
<body ng-controller="mainController">
      <uib-alert class="col-sm-6 col-sm-offset-3" ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">
        <span ng-bind-html="alert.msg"></span>
      </uib-alert>
      <div class="row">
        <div class="col-sm-6">
          <div class="row">
            <big><strong>Template</strong></big>
            <div class="btn-toolbar pull-right">
              <div class="btn-group" uib-dropdown is-open="status.isopen1">
                <button id="examples" type="button" class="btn btn-black btn-xs pull-right" uib-dropdown-toggle ng-disabled="disabled">
                  examples<span class="caret"></span>
                </button>
                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="examples">
                  <li role="menuitem" ng-click="example('curves.yaml')"><a href="#">curves</a></li>
                  <li role="menuitem" ng-click="example('groups.yaml')"><a href="#">groups</a></li>
                  <li role="menuitem" ng-click="example('labels.yaml')"><a href="#">labels</a></li>
                  <li role="menuitem" ng-click="example('notes.yaml')"><a href="#">notes</a></li>
                  <li role="menuitem" ng-click="example('sample.yaml')"><a href="#">sample</a></li>
                </ul>
              </div>
              <div class="btn-group" uib-dropdown is-open="status.isopen2">
                <button id="foo" type="button" class="btn btn-black btn-xs pull-right" uib-dropdown-toggle ng-disabled="disabled">
                  icons<span class="caret"></span>
                </button>
                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="icons">
                  <li role="menuitem" ng-click="drawFont('cisco')"><a href="#">cisco</a></li>
                  <li role="menuitem" ng-click="drawFont('azure-enterprise')"><a href="#">azure-enterprise</a></li>
                  <li role="menuitem" ng-click="drawFont('azure-cloud')"><a href="#">azure-cloud</a></li>
                </ul>
              </div>
              <button id="draw" type="submit" class="btn btn-black btn-xs pull-right" ng-click="drawClick(value)" uib-tooltip="hint: press ctrl-enter to refresh the drawing" tooltip-placement="bottom" tooltip-append-to-body="true">
                 <span class="glyphicon glyphicon glyphicon-pencil" aria-hidden="true" ></span> draw
              </button>
            </div>
          </div>
          <div class="row">
            <div ui-ace="aceyamlOptions" ng-model="acedata"></div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="row">
              <div class="btn-toolbar pull-right">
                <a href="http://github.com/cidrblock/network_diagram" target="_blank" class="btn btn-black btn-xs">
                  <span class="fa fa-github"></span> Github
                </a>
                <button type="submit" class="btn btn-black btn-xs" ng-click="opend3js()">
                   <span class="glyphicon glyphicon glyphicon-new-window" aria-hidden="true"></span>fullscreen
                </button>
              </div>
          </div>
          <div class="row">
            <div class="drawing" id="svg"></div>
          </div>
        </div>
      </div>
    </div>
</body>

<script>

angular
    .module("dld4e", ['ui.bootstrap', 'ui.ace'])
    .controller("mainController", mainController);

mainController.$inject = ["$scope", "$http", "$sce", "$log", "$window"];

function mainController($scope, $http, $sce, $log, $window) {
  $scope.design = "";
  $http.get('examples/sample.yaml')
       .then(function(res){
          $scope.acedata = res.data;
          $scope.drawClick()
        });
  $scope.aceyamlOptions = {
    onLoad: function (_ace) {
      _ace.getSession().setMode("ace/mode/yaml");
      _ace.$blockScrolling = Infinity;
    }
  };
  $scope.opend3js = function(greeting) {
    $window.design = jsyaml.load($scope.acedata) || {};
    var w = $window.open("fullscreen.html");
  };
  $scope.drawFont = function(font) {
    var size = Object.keys(fonts[font]).length
    var bestFit = Math.ceil(Math.sqrt(size))
    $http.get(`templates/${font}.yaml`)
         .then(function(res){
            var doc = jsyaml.load(res.data);
            var ratios = doc.diagram.aspectRatio.split(':')
            var h = ratios[0]
            var w = ratios[1]
            doc.diagram.rows = Math.ceil(Math.sqrt(size*w/h))
            doc.diagram.columns = Math.ceil(size/doc.diagram.rows)
            var x = 0
            var y = doc.diagram.rows - 1
            doc.objects = {}
            for (var key in fonts[font]){
              doc.objects[key] = Object.assign( { x: x, y: y, type: key}, doc.icon)
              x += 1
              if (x == doc.diagram.columns) {
                x = 0
                y -= 1
              }
            }
            $window.design = doc;
            var w = $window.open("fullscreen.html");
          });
  }
  $scope.example = function(file) {
    $http.get("examples/" + file)
         .then(function(res){
            $scope.acedata = res.data;
            $scope.drawClick()
          });
  }
  $scope.drawClick = function() {
    $window.design = jsyaml.load($scope.acedata) || {};
    draw($window.design);
    PR.prettyPrint()
  } //do
};

</script>

</html>
