<!DOCTYPE html>
<html ng-app="subnetter">
<head>
    <!-- META -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="index,follow">
    <meta name="description" content="Visual design aid for subnets and network planner for IP space and IP schema">

    <title>design</title>

    <link rel="stylesheet" href="build/css/bootstrap.min.css">
    <link rel="stylesheet" href="build/css/font-awesome.min.css">
    <link rel="stylesheet" href="build/css/app.css">
    <link rel="stylesheet" type="text/css" href="./build/fonts/azure-enterprise.css">
    <link rel="stylesheet" type="text/css" href="./build/fonts/cisco.css">



    <script type="text/javascript" src="build/js/angular.min.js"></script>
    <script type="text/javascript" src="build/js/angular-animate.min.js"></script>
    <script type="text/javascript" src="build/js/ace.js"></script>
    <script type="text/javascript" src="build/js/ui-ace.min.js"></script>
    <script type="text/javascript" src="build/js/ui-bootstrap.min.js"></script>
    <script type="text/javascript" src="build/js/ui-bootstrap-tpls.min.js"></script>
    <script type="text/javascript" src="build/js/js-yaml.min.js"></script>
    <script type="text/javascript" src="./build/js/d3.min.js"></script>
    <script type="text/javascript" src="build/js/draw.js"></script>
    <script type="text/javascript" src="build/js/app.js"></script>

    <script>
    function cloneObject(obj) {
        if (obj === null || typeof obj !== 'object') {
            return obj;
        }
        var temp = obj.constructor(); // give temp the original obj's constructor
        for (var key in obj) {
            temp[key] = cloneObject(obj[key]);
        }
        return temp;
    }
    var module = {}
    var fonts = {}
    </script>
    <script src="./build/fonts/azure-enterprise.js"></script>
    <script>
    fonts['azure-enterprise'] = cloneObject(module.exports)
    </script>
    <script>
    </script>
    <script src="./build/fonts/cisco.js"></script>
    <script>
    fonts['cisco'] = cloneObject(module.exports)
    </script>
</head>
<body ng-controller="mainController">
      <uib-alert class="col-sm-6 col-sm-offset-3" ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">
        <span ng-bind-html="alert.msg"></span>
      </uib-alert>
      <div class="row">
        <div class="col-sm-6">
          <div class="row">
            <big><strong>Template</strong></big>
            <div class="btn-toolbar pull-right">
              <a href="./build/fonts/cisco.html" target="_blank" class="btn btn-black btn-xs">
                <span class="fa fa-search"></span> cisco icons
              </a>
              <a href="./build/fonts/azure-enterprise.html" target="_blank" class="btn btn-black btn-xs">
                <span class="fa fa-search"></span> azure enterprise icons
              </a>
              <button id="draw" type="submit" class="btn btn-black btn-xs pull-right" ng-click="draw(value)" uib-tooltip="hint: press ctrl-enter to refresh the drawing" tooltip-placement="bottom" tooltip-append-to-body="true">
                 <span class="glyphicon glyphicon glyphicon-pencil" aria-hidden="true" ></span> draw
              </button>
            </div>
          </div>
          <div class="row">
            <div ui-ace="aceyamlOptions" ng-model="acedata"></div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="row">
              <div class="btn-toolbar pull-right">
                <a href="http://github.com/cidrblock/network_diagram" target="_blank" class="btn btn-black btn-xs">
                  <span class="fa fa-github"></span> Github
                </a>
                <button type="submit" class="btn btn-black btn-xs" ng-click="opend3js()">
                   <span class="glyphicon glyphicon glyphicon-new-window" aria-hidden="true"></span> new window
                </button>
              </div>
          </div>
          <div class="row">
            <div class="drawing" id="svg"></div>
          </div>
        </div>
      </div>
    </div>
</body>

<script>

// window.onerror = function(msg, url, line, col, error) {
//    var extra = !col ? '' : '\ncolumn: ' + col;
//    extra += !error ? '' : '\nerror: ' + error;
//    alert("Error: " + msg + "\nurl: " + url + "\nline: " + line + extra);
//    var suppressErrorAlert = true;
//    return suppressErrorAlert;
// };

angular
    .module("subnetter", ['ui.bootstrap', 'ui.ace'])
    .controller("mainController", mainController);

mainController.$inject = ["$scope", "$http", "$sce", "$log", "$window"];

function mainController($scope, $http, $sce, $log, $window) {
  $scope.design = "";
  $scope.acedata = `backgroundColor: "#3d3935"
diagramAspectRatio: "11:11"
rows: 5
columns: 5
gridLines: false
margin:
  top: 20
  right: 20
  bottom: 50
  left: 20
defaults: &defaults
  font: "azure-enterprise"
cisco: &cisco
  borderColor: "#004BAF"
  color: "#004BAF"
  iconColor: "#004BAF"
  font: "cisco"
  backgroundColor: "white"
servers: &servers
  <<: *defaults
  type: "Webserver"
  backgroundColor: "#58585B"
devices:
  firewall: {<<: *cisco, x: 4, y: 4, type: "firewall"}
  chddc1crt001: {<<: *cisco, x: 0, y: 4, type: "router"}
  chddc1crt004: {x: 2, y: 3, font: "azure-enterprise", type: "Gateway", backgroundColor: "Gold"}
  chddc1sfw005: {x: 2, y: 2, font: "azure-enterprise", type: "Firewall", backgroundColor: "red"}
  chddc1srt001: {x: 3, y: 2, font: "azure-enterprise", type: "Gateway", backgroundColor: "green"}
  chddc1slb005: {x: 3, y: 1, font: "azure-enterprise", type: "LoadbalancerGeneric", backgroundColor: "#2E1700"}
  lx12300: {<<: *servers, x: 2, y: 0}
  lx12301: {<<: *servers, x: 3, y: 0}
  lx12302: {<<: *servers, x: 4, y: 0}

connection: &connection
  lineColor: "white"
  strokeDashArray: "10,2"
connections:
  - { <<: *connection, endpoints: ["firewall", "chddc1crt001"] }
  - { <<: *connection, curve: curveStepBefore, endpoints: ["chddc1crt001", "chddc1crt004"] }
  - { <<: *connection, endpoints: ["chddc1crt004", "chddc1sfw005"] }
  - { <<: *connection, endpoints: ["chddc1sfw005", "chddc1srt001"] }
  - { <<: *connection, endpoints: ["chddc1srt001", "chddc1slb005"] }
  - { <<: *connection, endpoints: ["chddc1slb005", "lx12300"] }
  - { <<: *connection, endpoints: ["chddc1slb005", "lx12301"] }
  - { <<: *connection, endpoints: ["chddc1slb005", "lx12302"] }
groups:
  - { borderColor: pink, members: [chddc1crt004, chddc1sfw005] }
  - { borderColor: yellow, members: [chddc1crt001, firewall] }
  - { borderColor: white, members: [lx12300, lx12301, lx12302] }

  `;
  $scope.acejson ='';
  $scope.acejsonOptions = {
    onLoad: function (_ace) {
      _ace.getSession().setMode("ace/mode/yaml");
      _ace.$blockScrolling = Infinity;
    }
  };
  $scope.aceyamlOptions = {
    onLoad: function (_ace) {
      _ace.getSession().setMode("ace/mode/yaml");
      _ace.$blockScrolling = Infinity;
    }
  };

  $scope.opend3js = function(greeting) {
    var w = $window.open("fullscreen.html");
  };

  $scope.draw = function() {
    try {
      var design = jsyaml.load($scope.acedata);
      var designtext = $scope.acedata;
      design = jsyaml.load(designtext);
      $window.design = design;
      draw(design);
      // $window.jsonData = json;
      // $scope.acejson = angular.toJson(json, 2);
    } //try
    catch (error) {
      alert(error);
    } //catch
  } //do
};

</script>

</html>
